{% load static %}
{% load core_tags %}
{% load blog_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" integrity="sha512-dPXYcDub/aeb08c63jRq/k6GaKccl256JQy/AnOq7CAnEZ9FzSL9wSbcZkMp4R26vBsMLFYH4kQ67/bbV8XaCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

  <title>{% if request.path == '/' %}{{ meta.title }}{% elif 'case-study' in request.path %}{{ study.title }}{% elif 'blog' in request.path %}{{ article.meta_title }}{% endif %}</title>
  <meta name="description" content="{% if request.path == '/' %}{{ meta.description }}{% elif 'case-study' in request.path %}{{ study.short_description }}{% elif 'blog' in request.path %}{{ article.meta_description }}{% endif %}">
  <link rel="canonical" href="{% if request.path == '/' %}{{ meta.cononical }}{% elif 'case-study' in request.path %}https://hishamhikami.com/case-study/{{ study.slug }}/{% elif 'blog' in request.path %}https://hishamhikami.com/blog/{{ article.slug }}/{% endif %}">
  <meta name="robots" content="index, follow">

  {% if request.path == '/' %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Service",
      "name": "Website Development",
      "description": "We specialize in creating high-quality, user-friendly websites that help businesses achieve their goals.",
      "provider": {
        "@type": "Organization",
        "name": "Hisham Hikami"
      },
      "aggregateRating": {
        "@type": "AggregateRating",
        "bestRating": "5",
        "worstRating": "1",
        "ratingValue": "4.8",
        "reviewCount": "23"
      }
    }
  </script>
  {% endif %}

</head>

<body>

  <header id="header" class="header d-flex align-items-center {% if request.path == '/' %} fixed-top {% else %} sticky-top {% endif %}">
    <div class="container-fluid position-relative d-flex align-items-center justify-content-between">

      <a href="{% url 'core:index' %}" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="{% static 'assets/img/logo.png' %}" alt=""> -->
        <h2 class="sitename">Hisham Hikami</h2><span>.</span>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          {% if request.path == '/' %}
          <li><a href="{% url 'core:index' %}" class="">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="{% url 'blog:blog' %}">Blog</a></li>
          <li><a href="#contact">Contact</a></li>
          {% else %}
          <li><a href="{% url 'core:index' %}" class="">Home</a></li>
          <li><a href="{% url 'blog:blog' %}">Blog</a></li>
          {% endif %}
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="#contact">Get Started</a>

    </div>
</header>
{% block content %}

{% endblock content %}
<footer id="footer" class="footer position-relative">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="{% url 'core:index' %}" class="logo d-flex align-items-center">
            <span class="sitename">Hisham Hikami</span><span>.</span>
          </a>
          <p>Built with passion, powered by expertise. We craft user-friendly websites that convert, optimize for search engines, and provide the tools you need to succeed online.</p>
          <div class="social-links d-flex mt-4">
            <a href="https://linkedin.com/in/hishamhikami" target="_blank" aria-label="Visit Hisham Hikami's LinkedIn Profile"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="{% url 'core:index' %}">Home</a></li>
            <li><a href="{% url 'blog:blog' %}">Blog</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a>Web Development</a></li>
            <li><a>SEO</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>Darul Hafsa, Near Town Municipality</p>
          <p>Ullal, Mangalore - 575020</p>
          <p>India</p>
          <p class="mt-4"><strong>Phone: <span><a href="tel:+919632222154">+91 81050 22154</a></span></strong></p>
          <p><strong>Email: <span><a href="mailto:ideas@hishamhikami.com">ideas@hishamhikami.com</a></span></strong></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <strong class="sitename">HishamHikami.com</strong> <span>All Rights Reserved</span></p>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script src="{% static 'assets/js/function.js' %}"></script>

</body>

</html>