{% load static %}
{% load core_tags %}
{% load blog_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'assets/css/plugins/fontawesome-6.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/plugins/swiper.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/vendor/metismenu.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/plugins/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/vendor/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <title>{% if request.path == '/' %}{{ meta.title }}{% elif 'case-study' in request.path %}{{ study.title }}{% elif 'blog' in request.path %}{{ article.meta_title }}{% endif %}</title>
  <meta name="description" content="{% if request.path == '/' %}{{ meta.description }}{% elif 'case-study' in request.path %}{{ study.short_description }}{% elif 'blog' in request.path %}{{ article.meta_description }}{% endif %}">
  <link rel="canonical" href="{% if request.path == '/' %}{{ meta.cononical }}{% elif 'case-study' in request.path %}https://hishamhikami.com/case-study/{{ study.slug }}/{% elif 'blog' in request.path %}https://hishamhikami.com/blog/{{ article.slug }}/{% endif %}">
  <meta name="robots" content="index, follow">

  {% if request.path == '/' %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Review",
      "reviewRating": {
        "@type": "Rating",
        "ratingValue": "4.8",
        "bestRating": "5",
        "worstRating": "1"
      },
      "itemReviewed": {
        "@type": "Service",
        "name": "Website Development",
        "description": "We specialize in creating high-quality, user-friendly websites that help businesses achieve their goals.",
        "provider": {
          "@type": "Organization",
          "name": "Hisham Hikami"
        },
        "aggregateRating": {
          "@type": "AggregateRating",
          "bestRating": "5",
          "worstRating": "1",
          "ratingValue": "4.8",
          "reviewCount": "23"
        }
      },
      "author": {
        "@type": "Person",
        "name": "Hisham Hikami"
      },
      "reviewBody": "Excellent service and very professional team."
    }
    </script>
    
  {% endif %}

</head>

<body class="tt-transition tt-boxed tt-smooth-scroll index-three">

  
  <!-- header area start -->
  <div class="header-three">
    <div class="header-three-wrapper">
        <div class="row">
        
            <div class="col-lg-12">
                <div class="inner">
                    <a href="{% url 'core:index' %}" class="logo-area">
                        <img src="{% static 'assets/images/logo/03.svg' %}" alt="logo-area">
                    </a>
                    <a href="index.html" class="logo-area-white">
                        <img src="{% static 'assets/images/logo/02.svg' %}" alt="logo-area">
                    </a>
                    <div class="header-right">
                        <div class="menu-btn">
                            <span>Menu</span>
                        </div>
                        <div class="menu-btn">

                            <div class="rts-offcanvas-wrapper">
                                <div class="container-menu">
                                    <div class="action-menu">
                                        <div class="close-event"></div>
                                        <div class="open-event">
                                            <!-- <div class="text">
                    <span>Menu</span>
                    <span>Close</span>
                </div> -->
                                            <div class="burger">
                                                <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-close" data-v-649bbaab="">
                                                    <line x1="13.788" y1="1.28816" x2="1.06011" y2="14.0161" stroke="currentColor" stroke-width="1.2"></line>
                                                    <line x1="1.06049" y1="1.43963" x2="13.7884" y2="14.1675" stroke="currentColor" stroke-width="1.2"></line>
                                                </svg>
                                                <svg viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-burger" data-v-649bbaab="">
                                                    <line x1="18" y1="0.6" y2="0.6" stroke="currentColor" stroke-width="1.2" data-v-649bbaab=""></line>
                                                    <line x1="18" y1="5.7167" y2="5.7167" stroke="currentColor" stroke-width="1.2" data-v-649bbaab=""></line>
                                                    <line x1="18" y1="10.8334" y2="10.8334" stroke="currentColor" stroke-width="1.2" data-v-649bbaab=""></line>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rts-fs-menu">
                                    <div class="rts-fs-container row">
                                        <div class="rts-fs--nav col-12 col-md-6">
                                            <ul id="primary-menu" class="navbar-nav-button">
                                                <li class="menu-item"><a href="{% url 'core:index' %}">Home</a></li>
                                                <li class="menu-item menu-item-has-children">
                                                    <a href="#">Services<span><svg height="24" viewBox="0 0 24 24" width="24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path class="heroicon-ui"
                                    d="M18.59 13H3a1 1 0 0 1 0-2h15.59l-5.3-5.3a1 1 0 1 1 1.42-1.4l7 7a1 1 0 0 1 0 1.4l-7 7a1 1 0 0 1-1.42-1.4l5.3-5.3z">
                                </path>
                            </svg></span></a>
                                                    <ul class="sub-menu">
                                                        {% for service in services %}
                                                            <li class="menu-item">
                                                                <a href="{% url 'core:service_detail' service.slug %}">{{ service.name }}</a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                                <li class="menu-item menu-item-has-children">
                                                    <a href="#">Portfolio<span><svg height="24" viewBox="0 0 24 24" width="24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path class="heroicon-ui"
                                    d="M18.59 13H3a1 1 0 0 1 0-2h15.59l-5.3-5.3a1 1 0 1 1 1.42-1.4l7 7a1 1 0 0 1 0 1.4l-7 7a1 1 0 0 1-1.42-1.4l5.3-5.3z">
                                </path>
                            </svg></span></a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item menu-item-has-children">
                                                            <a href="#">Portfolio Grid <span><svg height="24" viewBox="0 0 24 24" width="24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path class="heroicon-ui"
                                        d="M18.59 13H3a1 1 0 0 1 0-2h15.59l-5.3-5.3a1 1 0 1 1 1.42-1.4l7 7a1 1 0 0 1 0 1.4l-7 7a1 1 0 0 1-1.42-1.4l5.3-5.3z">
                                    </path>
                                </svg></span></a>
                                                            <ul class="sub-menu">
                                                                <li class="menu-item"><a href="portfolio-grid.html">Grid 2 Column</a></li>
                                                                <li class="menu-item"><a href="portfolio-grid-3column.html">Grid 3 Column</a></li>
                                                                <li class="menu-item"><a href="portfolio-full-width.html">Grid Full Width</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="menu-item menu-item-has-children">
                                                            <a href="#">Portfolio List <span><svg height="24" viewBox="0 0 24 24" width="24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path class="heroicon-ui"
                                        d="M18.59 13H3a1 1 0 0 1 0-2h15.59l-5.3-5.3a1 1 0 1 1 1.42-1.4l7 7a1 1 0 0 1 0 1.4l-7 7a1 1 0 0 1-1.42-1.4l5.3-5.3z">
                                    </path>
                                </svg></span></a>
                                                            <ul class="sub-menu">
                                                                <li class="menu-item"><a href="portfolio-two.html">Portfolio List</a></li>
                                                                <li class="menu-item"><a href="showcase-interactive-list.html">Interactive Lists</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="menu-item"><a href="portfolio-one.html">Portfolio Masonry</a></li>
                                                        <li class="menu-item"><a href="portfolio-filter.html">Portfolio Filter</a></li>
                                                        <li class="menu-item menu-item-has-children">
                                                            <a href="#">Portfolio Details <span><svg height="24" viewBox="0 0 24 24" width="24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path class="heroicon-ui"
                                        d="M18.59 13H3a1 1 0 0 1 0-2h15.59l-5.3-5.3a1 1 0 1 1 1.42-1.4l7 7a1 1 0 0 1 0 1.4l-7 7a1 1 0 0 1-1.42-1.4l5.3-5.3z">
                                    </path>
                                </svg></span></a>
                                                            <ul class="sub-menu">
                                                                <li class="menu-item"><a href="portfolio-details.html">Portfolio Details</a></li>
                                                                <li class="menu-item"><a href="portfolio-details-two.html">Portfolio Details Two</a></li>
                                                                <li class="menu-item"><a href="portfolio-details-three.html">Portfolio Details Three</a></li>
                                                                <li class="menu-item"><a href="portfolio-details-four.html">Portfolio Details Four</a></li>
                                                                <li class="menu-item"><a href="portfolio-details-slider.html">Portfolio Details Slider</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item"><a href="#about">About</a></li>
                                                <li class="menu-item"><a href="#contact">Contact</a></li>
                                            </ul>
                                        </div>

                                        <div class="rts-fs--contacts col-12 col-md-6">
                                            <div class="contact-inner">
                                                <div class="contact-information">
                                                    <h2 class="heading-title">Our Office</h2>
                                                    <div class="address">
                                                        <ul>
                                                            <li>
                                                                <p>98 Post St, Maxuel Street, Frankfurt</p>
                                                            </li>
                                                            <li>
                                                                <p>575 Market St, Maxuel Street, Frankfurt</p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="contact-information">
                                                    <h2 class="heading-title">Get In Touch</h2>
                                                    <div class="contact">
                                                        <ul>
                                                            <li><a href="mailto:information.mighty.com" class="mail">information.mighty.com</a></li>
                                                            <li><a href="tel:28586235932159" class="number">+2858 62359 32159</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="rts-social-area-one">
                                                        <ul>
                                                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                                            <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                                                            <li><a href="#"><i class="fa-brands fa-skype"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- header area end -->
{% block content %}

{% endblock content %}
    <!-- rts footer two area start -->
    <div class="rts-footer-two-area bg-footer-2 bg_image">
      <div class="container-n">
          <div class="row">
              <div class="col-lg-12 pt--130 pt_sm--60 pb--100 pb_sm--50">
                  <div class="footer-two-wrapper-content">
                      <!-- footer left start -->
                      <div class="footer-left-two">
                          <a href="index.html" class="logo">
                              <img src="{% static 'assets/images/logo/03.svg' %}" alt="logo">
                          </a>
                          <p class="disc">
                              Teor facilis porta maurs ligula vivamus <br> nullam laoreet pharetra posuere.
                          </p>
                          <div class="rts-social-area-one">
                              <ul>
                                  <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                  <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                  <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                                  <li><a href="#"><i class="fa-brands fa-skype"></i></a></li>
                              </ul>
                          </div>
                      </div>
                      <!-- footer left end -->

                      <!-- footer right area start -->
                      <div class="footer-right-two">
                          <!-- contact info -->
                          <div class="contact-information">
                              <h5 class="title">Contact Info</h5>
                              <a href="#" class="map">Maxuel Street, Frankfurt <br> 2589 Germany.</a>
                              <a href="#" class="mail">information.mighty.com</a>
                              <a href="#" class="number">+2858 62359 32159</a>
                          </div>
                          <!-- contact info end -->
                          <!-- contact info -->
                          <div class="contact-information input">
                              <h5 class="title">Subscribe Newsletter</h5>
                              <p class="map">Subscribe our newsletter for future updates. don’t <br> worry we don’t
                                  spam your email address</p>
                                <div>
                                  <h3 class="text-warning" id="confirmation"></h3>
                                </div>
                                <div class="get_quote_hide">
                                  <form method="POST" class="form-footer-2 get_quote_hide" id="get-quote-ajax" data-aos="fade-up" data-aos-delay="300">
                                    {% csrf_token %}
                                      <label for="email-1"><i class="fa-regular fa-envelope"></i></label>
                                      <input type="text" id="email-1" placeholder="Enter your email" required>
                                      <button type="submit" id="get-quote-ajax" type="submit">Get Quote</button>
                                  </form>
                              </div>
                          </div>
                          <!-- contact info end -->
                      </div>
                      <!-- footer right area end -->
                  </div>
              </div>
              <div class="col-lg-12">
                  <!-- copyright-area-start -->
                  <div class="copy-right-area-start-two">
                      <p class="left">2023 © Mighty. All rights reserved.</p>
                      <ul>
                          <li><a href="#">Terms & Conditions</a></li>
                          <li><a href="#">Privacy Policy</a></li>
                      </ul>
                  </div>
                  <!-- copyright-area-end -->
              </div>
          </div>
      </div>
  </div>
  <!-- rts footer two area end -->

   <!-- Scripts style two -->
   <div class="loading-screen" id="loading-screen">
    <span class="bar top-bar"></span>
    <span class="bar down-bar"></span>
    <span class="progress-line"></span>
    <span class="loading-counter"> </span>
</div>


<div class="bg-noise"></div>


<!-- back to top start -->
<div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
    </svg>
</div>
<!-- back to top end -->



<!-- pre loader start -->
<div class="rts-cursor cursor-outer" data-default="yes" data-link="yes" data-slider="no">
    <span class="fn-cursor"></span>
</div>
<div class="rts-cursor cursor-inner" data-default="yes" data-link="yes" data-slider="no">
    <span class="fn-cursor">
    <span class="fn-left"></span>
    <span class="fn-right"></span>
    </span>
</div>
<!-- pre loader end -->



<!-- dark light switcher start-->
<div class="modal-sidebar-scroll rts-dark-light">
    <ul>
        <li class="go-dark-w"><span>Dark</span><i class="rts-go-dark fal fa-moon"></i></li>
        <li class="go-light-w"><span>Light</span><i class="rts-go-light fa-light fa-brightness"></i></li>
    </ul>
</div>
<!-- dark light switcher end -->



<script defer src="{% static 'assets/js/vendor/jquery.min.js' %}"></script>
<script defer src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>
<script defer src="{% static 'assets/js/plugins/contact.form.js' %}"></script>
<script defer src="{% static 'assets/js/vendor/waypoint.js' %}"></script>
<script defer src="{% static 'assets/js/plugins/swiper.js' %}"></script>


<!-- for side bar sticky -->
<script defer src="{% static 'assets/js/plugins/resizer-sensor.js' %}"></script>
<script defer src="{% static 'assets/js/plugins/sticky-sidebar.js' %}"></script>
<!-- for side bar sticky end-->

<script defer src="{% static 'assets/js/plugins/isotop.js' %}"></script>
<script defer src="{% static 'assets/js/plugins/imagesloaded.pkgd.min.js' %}"></script>

<script defer src="{% static 'assets/js/plugins/smoothscroll-varticle.js' %}"></script>
<script defer src="{% static 'assets/js/vendor/gsap.js' %}"></script>
<script defer src="{% static 'assets/js/plugins/scrolltiger.js' %}"></script>
<script defer src="{% static 'assets/js/plugins/scrolltoplugin.js' %}"></script>
<script defer src="{% static 'assets/js/plugins/splittext.js' %}"></script>
<script defer src="{% static 'assets/js/plugins/smoothscroll.js' %}"></script>

<!-- title opacity scroll magix -->
<script defer src="{% static 'assets/js/plugins/scrollmagic.js' %}"></script>
<script defer src="{% static 'assets/js/plugins/animate-scrollmagic.js' %}"></script>
<!-- title opacity scroll magic end -->



<script defer src="{% static 'assets/js/plugins/tilt.js' %}"></script>
<script defer src="{% static 'assets/js/plugins/counterup.js' %}"></script>

<script defer src="{% static 'assets/js/vendor/waw.js' %}"></script>

<!-- custom javascripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script defer src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/js/function.js' %}"></script>
<!-- Scripts style two End -->

</body>

</html>