{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<head>
  <title>{{ meta.title }}</title>
  <meta name="description" content="{{ meta.description }}">
  <link rel="canonical" href="{{ meta.cononical }}">
  <meta name="robots" content="index, follow">
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Service",
      "name": "Website Development",
      "description": "We specialize in creating high-quality, user-friendly websites that help businesses achieve their goals.",
      "provider": {
        "@type": "Organization",
        "name": "Hisham Hikami"
      }
      "aggregateRating": {
        "@type": "AggregateRating",
        "bestRating": "5",
        "worstRating": "1",
        "ratingValue": "4.8",
        "reviewCount": "23"
      }
    }
    </script>
</head>
<body class="index-page">
  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <img src="{% static 'assets\img\hero-image.jpg' %}" alt="" data-aos="fade-in">

      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <h2 data-aos="fade-up" data-aos-delay="100">Let's get to where your website looks wow!</h2>
            <p data-aos="fade-up" data-aos-delay="200">Struggling to be seen online? We help businesses like yours dominate search engines and craft stunning websites that convert.</p>
          </div>
          <div class="col-lg-5">
            <div>
              <h4 class="text-warning" id="confirmation"></h4>
            </div>
            <div class="get_quote_hide">
              <form method="POST" class="sign-up-form d-flex get_quote_hide" id="get-quote-ajax" data-aos="fade-up" data-aos-delay="300">
              {% csrf_token %}
              <input type="text" id="email-1" class="form-control" placeholder="Enter email address" required>
              <input type="submit" id="get-quote-ajax" class="btn btn-primary" value="Get Quote">
            </form>
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- Technology Section -->
    <section id="clients" class="clients section">

      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          {% for logo in tech %}
          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="{{ logo.logo.url }}" class="img-fluid" alt="">
          </div><!-- End Technology Item -->
          {% endfor %}

        </div>

      </div>

    </section><!-- /Technology Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row align-items-xl-center gy-5">

          <div class="col-xl-5 content">
            <h3>About</h3>
            <h2>Who We Are</h2>
            <p>We're a passionate team of developers dedicated to crafting exceptional digital experiences. We combine expertise in web development, SEO optimization, custom email solutions, and server management to deliver results you can trust.  We leverage the power of Python and prioritize building websites with a strong SEO foundation and lightning-fast server speeds. Crafted with care, every project receives our full attention to detail, ensuring the highest quality and functionality to help you achieve your online goals.</p>
            <a href="#contact" class="read-more"><span>Get In Touch</span></a>
          </div>

          <div class="col-xl-7">
            <div class="row gy-4 icon-boxes">

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box">
                  <i class="bi bi-braces"></i>
                  <h3>Made with Python</h3>
                  <p>We leverage Python's capabilities to deliver high-performing websites and solutions.</p>
                </div>
              </div> <!-- End Icon Box -->

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box">
                  <i class="bi bi-search-heart"></i>
                  <h3>Built-in SEO</h3>
                  <p>We build your website with a strong SEO foundation for long-term online visibility.</p>
                </div>
              </div> <!-- End Icon Box -->

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="icon-box">
                  <i class="bi bi-bar-chart-line"></i>
                  <h3>Lightning-fast Server</h3>
                  <p>Our high-speed servers ensure your website loads instantly for your visitors.</p>
                </div>
              </div> <!-- End Icon Box -->

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
                <div class="icon-box">
                  <i class="bi bi-balloon-heart"></i>
                  <h3>Crafted with Care</h3>
                  <p>Every project receives meticulous attention, ensuring the highest quality and functionality.</p>
                </div>
              </div> <!-- End Icon Box -->

            </div>
          </div>

        </div>
      </div>

    </section><!-- /About Section -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p>Build a strong online presence. We offer a complete suite of services including web development, SEO optimization, custom email solutions, and reliable server management.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">
            {% for s in service %}
          <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="100">
            <div class="service-item d-flex">
              <div class="icon flex-shrink-0"><i class="{{ s.bootstrap_icon }}"></i></div>
              <div>
                <h4 class="title"><a class="stretched-link">{{ s.heading }}</a></h4>
                <p class="description">{{ s.description }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
          <!-- End Service Item -->
        </div>

      </div>

    </section><!-- /Services Section -->

    <!-- Features Section -->
    <section id="features" class="features section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>1 Reason For Choosing Us</h2>
        <p>We combine deep knowledge in web development, SEO, email, and server management to deliver results you can trust.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4 align-items-center features-item">
          <div class="col-lg-5 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
            <h3>Empowering Your Business with User-Centric Design</h3>
            <p>We create stunning websites that not only look great but also provide an intuitive and engaging user experience.  We go beyond the surface to build powerful dashboards tailored to your different departments.  The marketing team will appreciate an easily managed email list populated by website visitors, while other departments can benefit from custom dashboards accessible on both desktop and mobile versions. Our focus on user-centric design ensures a smooth experience for your visitors and empowers your team with the tools they need to succeed.</p>
          </div>
          <div class="col-lg-7 order-1 order-lg-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
            <div class="image-stack">
              <img src="{% static 'assets\img\dashboard.jpg' %}" alt="" class="stack-front">
              <img src="{% static 'assets\img\back.jpg' %}" alt="" class="stack-back">
            </div>
          </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-stretch justify-content-between features-item ">
          <div class="col-lg-6 d-flex align-items-center features-img-bg" data-aos="zoom-out">
            <img src="{% static 'assets\img\dashboard-sample.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-5 d-flex justify-content-center flex-column" data-aos="fade-up">
            <h3>Still imagining why choose us?</h3>
            <p>Here's what we give to you:</p>
            <ul>
              <li><i class="bi bi-check"></i> <span>A lightning-fast beautiful website for smooth user experience</span></li>
              <li><i class="bi bi-check"></i><span>SEO integrated from the first day of planning the architecture</span></li>
              <li><i class="bi bi-check"></i> <span>A mobile-friendly dashboard of your website to carry in your pockets</span></li>
            </ul>
            <a href="#contact" class="btn btn-get-started align-self-start">Get Started</a>
          </div>
        </div><!-- Features Item -->

      </div>

    </section><!-- /Features Section -->

    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Portfolio</h2>
        <p>Dive into our portfolio to see examples of successful web development and SEO optimization.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-webdev">Web Development</li>
            <li data-filter=".filter-seo">SEO</li>
          </ul><!-- End Portfolio Filters -->

          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">
            {% for w in webdev %}
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-webdev">
              <img src="{{ w.image.url }}" class="img-fluid" alt="{{ w.title }}">
              <div class="portfolio-info">
                <h4>{{ w.title }}</h4>
                <h5>Scope: {{ w.category }}</h5>
                <p>{{ w.short_description }}</p>
                <a href="{% url 'core:case-study' w.slug %}" title="More Details" class="details-link"><i class="bi bi-arrow-right-square-fill"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            {% endfor %}
            {% for s in seo %}
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-seo">
              <img src="{{ s.image.url }}" class="img-fluid" alt="{{ s.title }}">
              <div class="portfolio-info">
                <h4>{{ s.title }}</h4>
                <h5>Scope: {{ s.category }}</h5>
                <p>{{ s.short_description }}</p>
                <a href="{% url 'core:case-study' s.slug %}" title="More Details" class="details-link"><i class="bi bi-arrow-right-square-fill"></i></a>
              </div>
            </div><!-- End Portfolio Item -->
            {% endfor %}

          </div><!-- End Portfolio Container -->

        </div>

      </div>

    </section><!-- /Portfolio Section -->

    <!-- Faq Section -->
    <section id="faq" class="faq section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="content px-xl-5">
              <h3><span>Frequently Asked </span><strong>Questions</strong></h3>
              <p>
                Whether you're curious about the specific benefits of Django for SEO or how Warrantty integrates optimization into the development process, we've got you covered. Browse through our FAQs or use the search bar to find answers tailored to your needs.
              </p>
            </div>
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

            <div class="faq-container">
              {% for f in faq %}
              <div class="faq-item">
                <h3><span>{{ f.question }}</span></h3>
                <div class="faq-content">
                  <p>{{ f.answer }}</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->
              {% endfor %}

            </div>

          </div>
        </div>

      </div>

    </section><!-- /Faq Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Get in touch with us to get the true potentail of digital space.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-6">

            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="200">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>Darul Hafsa, Near Town Municipality</p>
                  <p>Ullal, Mangalore - 575020</p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="300">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p>+91 81050 22154</p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="400">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p>ideas@hishamhikami.com</p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="500">
                  <i class="bi bi-clock"></i>
                  <h3>Open Hours</h3>
                  <p>Monday - Friday</p>
                  <p>9:00AM - 05:00PM</p>
                </div>
              </div><!-- End Info Item -->

            </div>

          </div>

          <div class="col-lg-6">
            <h4 class="text-success" id="message-response"></h4>
            <form method="POST" class="contact-form-style mt-30 python-email-form" id="contact-form-ajax" data-aos="fade-up" data-aos-delay="200">
              {% csrf_token %}
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" id="full_name" name="name" class="form-control" placeholder="Your Name" required="">
                </div>

                <div class="col-md-6">
                  <input type="text" id="phone" name="phone" class="form-control" placeholder="Your Phone" required="">
                </div>

                <div class="col-md-12 ">
                  <input type="email" id="email" class="form-control" name="email" placeholder="Your Email" required="">
                </div>

                <div class="col-md-12">
                  <input type="text" id="subject" class="form-control" name="subject" placeholder="Subject" required="">
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" id="message" name="message" rows="6" placeholder="Message" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">

                  <button id="contact-form-ajax" type="submit">Send message</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

</main>
</body>
{% endblock content %}